.main {
  max-width: 1280px;
  display: flex;
  margin: 0 0 60px 0;
  justify-content: center;
}

.main__container {
  max-width: 100%;
}

.focus_description-container {
  gap: 30px;
}

.focus__list {
  max-width: 360px;
  margin: 0 0 10px 0;
}

.main__graph {
  margin: 0 0 100px 0;
}

.main__graph:last-of-type {
  margin: 0;
}

.graph__focus-container {
  display: flex;
  flex-direction: column;
}

.main__graph_Demo-Race {
  display: flex;
  justify-content: space-around;
}

.Demo__container {
  margin: 0 120px 0 0;
}

.graph__descrition-container {
  display: flex;
  flex-direction: column;
}

.graph__descrition-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.graph__title {
  font-family: "Droid Serif Mono + Montserrat";
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  color: #acd8aa;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.graph__description {
  max-width: 500px;
  font-family: "Droid Serif Mono + Montserrat";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.main__last-three {
  display: flex;
  justify-content: space-around;
}

.graph__pie-container {
  min-width: 300px;
  display: flex;
  margin: 0 0 30px 0;
}

.graph__chart-container {
  box-sizing: border-box;
  display: block;
  height: 400px;
  width: 425px;
}

.graph__bar-container {
  width: 500px;
  left: 700px;
  display: flex;
}

@media screen and (max-width: 820px) {
  .main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main__container {
    flex-direction: column;
  }

  .graph__description {
    display: flex;
    position: relative;
    top: 36px;
    left: 28px;
    max-width: 800px;
    text-align: center;
    font-family: "Droid Serif Mono + Montserrat";
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .graph__descrition-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    top: -26px;
}

  .graph__chart-container {
    box-sizing: border-box;
    display: block;
    height: 400px;
    width: 425px;
    display: flex;
    margin-left: 175px;
    margin-top: 56px;
  }

  .graph__pie-container {
    height: 300px;
    min-width: 300px;
    display: flex;
    margin-left: 175px;
    margin-top: 56px;
  }

  .graph__title {
    display: flex;
    flex-direction: column;
    left: 27px;
    position: relative;
  }

  .graph__bar-container {
    width: 500px;
    left: 700px;
    display: flex;
    left: 83px;
    position: relative;
    top: 22px;
  }

  .main__graph {
    max-width: 820px;
    display: flex;
    flex-direction: column;
  }

  .main__last-three {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main__container {
    display: flex;
    flex-direction: column;
  }

  .main__graph {
    display: flex;
    flex-direction: column;
  }

  .main__last-three {
    display: flex;
    justify-content: center;
  }

  .graph__description {
    display: flex;
    position: relative;
    top: 36px;
    left: 26px;
    text-align: center;
    font-family: "Droid Serif Mono + Montserrat";
    font-style: normal;
    font-size: 19px;
    line-height: 22px;
    text-align: left;
    flex-direction: column;
  }

  .graph__pie-container {
    height: 300px;
    min-width: 300px;
    display: flex;
    margin-left: 85px;
    margin-top: 56px;
  }

  .graph__bar-container {
    width: 400px;
    left: 700px;
    display: flex;
    left: 34px;
    position: relative;
    top: 22px;
  }

  .graph__chart-container {
    box-sizing: border-box;
    display: block;
    height: 400px;
    width: 425px;
    display: flex;
    margin-left: 73px;
    margin-top: 56px;
  }

}

@media screen and (max-width: 480px) {
  .main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main__container {
    display: flex;
    flex-direction: column;
  }

  .main__graph {
    display: flex;
    flex-direction: column;
  }

  .main__last-three {
    display: flex;
    justify-content: center;
  }

}
