.introduction {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 50px 0;
}

.introduction__description-container {
  display: flex;
  width: 591px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: -106px;
  justify-content: space-between;
  /* max-width: calc(550px - 20px) */
}

.introduction__description {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Droid Serif Mono + Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  margin-bottom: 20px;
  color: #f48498;
}

@media screen and (max-width: 820px) {
  .introduction {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .introduction__description-container {
    display: flex;
    flex-direction: column;
  }

  .introduction__description {
    max-width: 820px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .introduction {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .introduction__description-container {
    display: flex;
    flex-direction: column;
  }

  .introduction__description {
    display: flex;
    flex-direction: column;
    font-size: 33px;
    justify-content: center;
    align-items: center;
    margin-right: 143px;
  }
}
