@import url('../src/components/Header/Header.css');
@import url('../src/components/Nav/Nav.css');
@import url('../src/components/Main/Main.css');
@import url('../src/components/Footer/Footer.css');
@import url('../src/fonts/font.css');




body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1300px;
  margin: 0 auto;
   background-color: #f2ccc3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
